# Environment variables
.env

# Virtual environment
describe_env/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# OCR output files
outputs/

# Temporary images
*.png
# Allow architecture diagram

!docs/architecture_diagram.png

# VS Code
.vscode/

# Logs
*.log

# Patient files
data/